html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif!important;
}

header{
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.7)!important;
    position: fixed;
    z-index: 99999;
    width: 100vw;

}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */

  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

section{
    height: auto;
    width: 100vw;

}
.bg-violet{
    background:  whitesmoke!important;
    border-bottom: 1px solid whitesmoke;
}
.about-text{
    color: #919191;
    letter-spacing: 3px;
    word-spacing: 6px;
    font-family: 'Kurale',cursive;
    line-height: 1.3em;
}
.max-size{
    font-family: 'Kurale', cursive;
    font-size: 6rem;
    font-max-size: 6rem;
}
.h-80{
    height: 80vh;
    object-fit: cover;
    object-position: center;

}
#hero{
    margin-top: 3.5%;
}

.text-box{
    text-align: center;
    font-size: 5rem;

}

#home{
    background: whitesmoke;
    min-height: 60vh;
    height: auto;
    width: 100vw;
    margin-top: 5%;

}

.funky-text{
    color: #fd8700;
}

.line-top{
    line-height: 5.5em;
}
.full-width img{
    width: 200px;
}

@media (max-width: 550px) {
    .full-width img{
        width: 150px;
    }
}


#particles-js{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 50vh;
    margin-left: -30vh;

}


@media all and (max-width:750px){
    #particles-js{
        position: absolute;
        z-index: 0;
        width: 100vw;
        height: 40vh;
        margin-left: 0vh;
    }

    .line-top{
        line-height: 3.5em;
    }

    .text-box{
        text-align: center;
        font-size: 3rem;
    
    }

}

.image-box{
    width: 40%;
    height: 300px;
    margin: auto;
    margin-bottom: 5%;
}

.image-box img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin: auto;
   border-top-left-radius: 250px;
   border-bottom-right-radius: 200px;

}

.text-dark{
    font-size: 2em;
}

#left-col{
    width: 50%;
    float: left;
    text-align: center;
    margin-left: 0;
}

.hj{
    width: 100%;
    margin: 0;
    font-size: 2em;
    text-align: left;
}



@media all and (max-width:750px){
    .hj{
        width: 100%;
        margin: 5%;
        font-size: 1em;
        margin-right: 2%!important;
    }
    
    .image-box{
        width: 80%;
        height: 300px;
        margin: auto;
    }

}















#tracks {
    background-color: #8166cd;
    overflow-x: hidden;
    padding-bottom: 5%; 

}

#tracks .track-list {
    background-color: #fff9f0;
    border-radius: 10px
}

#tracks .track-list .track-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: 0 0;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem;
    font-size: 24px;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in
}

#tracks .track-list .track-item:nth-child(even) {
    background-color: #fff
}

#tracks .track-list .track-item:focus {
    border: none!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #e6d2e7
}

#tracks .track-list .track-item .subtitle,
#tracks .track-list .track-item .title {
    font-weight: 700;
    text-align: center
}

#tracks .track-list .track-item .title {
    color: #312457
}

#tracks .track-list .track-item .subtitle {
    color: black;
    font-size: 16px
}

#tracks .track-list .track-item .subtitle::after {
    /* content: url(../images/icon-right-arrow.svg); */
    padding: 0 8px;
    position: relative;
    top: 1px
}

@media (min-width:992px) {
    #tracks .track-list .track-item .subtitle {
        opacity: 0;
        -webkit-transition: opacity .1s ease-in;
        -o-transition: opacity .1s ease-in;
        transition: opacity .1s ease-in
    }
    #tracks .track-list .track-item .subtitle::after {
        display: none
    }
}

#tracks .track-list .track-item:hover {
    border: 2px solid #fff;
    background-color: #468beb;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 10
}

#tracks .track-list .track-item:hover .subtitle {
    opacity: 1
}

#tracks .track-list .track-item:hover .subtitle::after {
    display: inline;
    opacity: 1;
    -webkit-animation: slide-in .1s ease-in;
    animation: slide-in .1s ease-in
}

.modal-content {
    border: none;
    border-radius: 10px
}

.modal-content .close {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -24px;
    right: -24px;
    background: #fff;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 400;
    opacity: 1;
    color: #8166cd;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    -webkit-transition: .1s ease-in background-color;
    -o-transition: .1s ease-in background-color;
    transition: .1s ease-in background-color
}

.modal-body img{
    width: 100%;
    height: auto;

}
@media (max-width:768px) {
   .modal-content .close {
        background-color: #6bc8b0
    }
}

@media (max-width:576px) {
     .modal-content .close {
        top: 0;
        right: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.modal-content .close:hover {
    background-color: #e9d184
}

 .modal-content .close span {
    position: relative;
    top: -2px;
}

.modal-content .modal-text {
    padding: 48px;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3
}

 .modal-content .modal-header {
    border: none;
    padding: 0
}

.modal-content .modal-header .modal-title {
    font-size: 40px;
    font-weight: 700;
    color: #300c4d;
}

.modal-content .modal-body {
    margin: 16px 0;
/*    //margin: auto;*/
    font-size: 21px
}

@media (min-width:991px) {
     .modal-content .modal-body {
        min-height: 320px;
         min-width: 100px;
         
    }
}

.modal-content .modal-footer {
    border: none;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 32px 0 0 0
}

.modal-content .modal-footer #nextTrack {
    border: none;
    background: 0 0;
    color: #8166cd;
    font-weight: 700
}

 .modal-content .modal-footer #nextTrack:hover {
    background-color: #e6d2e7
}

.modal-content .modal-footer #nextTrack::after {
    content: url(../images/icon-right-arrow.svg);
    padding: 0 8px
}

#prevTrack {
    border: none;
    background: 0 0;
    color: #8166cd;
    font-weight: 700
}

#prevTrack:hover {
    background-color: #e6d2e7;
}

#prevTrack::after {
    content: url(../img/df.svg)

}

 .modal-content .track-img {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-width: 25px;
    border-radius: 0 10px 10px 0;
    background-color: #fdac43!important;
    background-size: 160px 54px!important;
    -webkit-animation: bg-slide 6s linear infinite;
    animation: bg-slide 6s linear infinite
}

@-webkit-keyframes bg-slide {
    from {
        background-position: 0 0
    }
    to {
        background-position: 160px -124px
    }
}

@keyframes bg-slide {
    from {
        background-position: 0 0
    }
    to {
        background-position: 160px -124px
    }
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        left: -16px
    }
    to {
        opacity: 1;
        left: 0
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        left: -16px
    }
    to {
        opacity: 1;
        left: 0
    }
}

.emsize{
    font-size: 3em;
}

.headline{
    text-align: center;
    font-size: 3rem;
    color: #8166cd;
}

.description{
    color: black;
    text-align: center;
    font-size:  1em;
    margin: 3%;
}

footer{
    margin-top: 2%;
    font-size: 2em;
}


.social ul li{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.social ul li a{
    font-size: 2rem;
    margin: 3%;
    color: #919191;
    text-decoration: none;
}

.social ul li a:hover{
    color: #468beb;
}
